<div id='video-modal' class='modal bottom-sheet'>
  <div class='modal-footer'>
    <a href='#!' class='modal-action modal-close waves-effect waves-grey btn-flat'>Close</a>
    <a href='' class='waves-effect waves-red btn-flat red-text' id='modal-yt-link'>Play on YouTube</a>
  </div>
  <div class='modal-content'>
    <div class='video-container'>
      <iframe width='853' height='480' src='' id='video-player' frameborder='0' allowfullscreen></iframe>
    </div>
  </div>
</div>
