<div>
  <div class='cover-image'>
    <div class='center-align'>
      <div class='cover-primary'>
        <div id='cover-text-a'>Robert<b>Scott</b></div>
        <div id='cover-text-b'>Entertaining Short Videos</div>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='divider'></div>
  <h3 class='red-text text-lighten-1'>Season <b>1</b></h3>

  <%= react_component 'Videos', { data: @videos } %>

  <div class='divider'></div>
  <div class='row center-align' style='margin: 40px 0;'>
    Rate, Comment, and <span class='inline-subscribe-button'><%= subscribe_button %></span>
  </div>
  <div class='divider'></div>
</div>

<%= react_component 'Player' %>
