<footer class='page-footer'>
  <div class='footer-copyright'>
    <div class='container'>
      ©<%= Date.today.year %> Jr.DevJobs
      <%= link_to 'Contact Us', '#', class: 'right waves-effect waves-dark btn grey grey-darken-3', style: 'margin-top:6px;' %>
    </div>
  </div>
</footer>
